/* -------------------------------------
 * Fonts
 * ------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Biryani:300,400,700|Oswald:400,700,900');

@font-face {
  font-family: 'Gotham';
  src: font-url('Gotham-Bold.otf') format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('Gotham-Book-Regular.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('Gotham-Light.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}

$base-font: "Biryani", "Helvetica", "sans-serif";
$header-font: 'Biryani', sans-serif;

p {
  font-weight: 300!important;
}

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
