#home-main-wrapper
    p
        @media all and (max-width: $screen-sm-min)
            font-size: 1.1em
            margin: 1rem 0

    h2
        @media all and (max-width: $screen-sm-min)
            text-align: center
            margin: 4rem 0 1rem

    img
        @media all and (max-width: $screen-sm-min)
            margin-bottom: 1rem
#dyptique-wrapper
    margin: 7rem 0
    overflow: auto

    .dyptique-left-container
        width: 50%
        float: left
        text-align: right

        @media all and (max-width: $screen-sm-min)
            width: 100%
            float: none

        .ony-dyptique-3
            max-width: 400px

            @media all and (max-width: $screen-sm-min)
                max-width: 100%

    .dyptique-right-container
        float: right
        width: 50%
        position: relative

        @media all and (max-width: $screen-sm-min)
            float: none
            width: 100%

        .text-container
            position: absolute
            background: #fff
            padding: 1.5em
            width: 58%
            top: 100px
            left: -35px
            h2
                font-weight: 800

            @media all and (max-width: $screen-sm-min)
                position: initial
                width: 100%

#mondrian-wrapper
    overflow: hidden
    height: 600px
    width: 100%
    padding: 5em 0
    margin: 10rem 0 0 0
 
    @media all and (max-width: $screen-sm-min)
        margin: 0
        height: auto
        padding: 1em 0
        overflow: auto

    .mondrian-squares-container
        position: relative
        right: 110px

        @media all and (max-width: 1230px)
            right: 0
            
        @media all and (max-width: $screen-sm-min)
            position: initial

        .red-square
            background: $red
            position: absolute
            width: 680px
            height: 390px
            right: 325px
            top: 5px

            @media all and (max-width: $screen-sm-min)
                display: none         

        .mondrian-picto
            position: absolute
            right: 545px
            top: -20px

            @media all and (min-width: 830px) and (max-width: 980px)
                right: 490px

            @media all and (max-width: $screen-sm-min)
                position: initial 

            img
                max-width: 355px

                @media all and (max-width: $screen-sm-min)
                    max-width: 100%

        .mondrian-gif
            right: 125px
            bottom: -500px
            max-width: 350px

            @media all and (max-width: $screen-sm-min)
                position: initial
                width: 100%
                height: auto
                
        .draw-square
            width: 355px
            height: 355px
            right: 125px
            bottom: -500px
            position: absolute

            @media all and (max-width: $screen-sm-min)
                position: initial
                width: 100%
                height: auto
                text-align: center

            p
                font-size: 2.1em
                font-weight: 500
                margin: 0
                position: absolute
                left: 0
                right: 0
                text-align: center
                font-weight: 700
                
                @media all and (max-width: $screen-sm-min)
                    position: initial

            p:nth-child(1)
                top: 0
                margin-top: 1rem

            p:nth-child(2)
                top: 40%

            p:nth-child(3)
                bottom: 0
                margin-bottom: 1rem

#the-teddy-wrapper
    width: 100%
    overflow: hidden
    margin: 17rem 0

    @media all and (max-width: $screen-sm-min)
        margin: 1rem 0
        overflow: auto

    .the-teddy-left
        width: 50%
        float: left

        @media all and (max-width: $screen-sm-min)
            width: 100%
            float: none

        .container-teddy-dos-face
            position: relative
            left: 145px
            top: 95px

            @media all and (max-width: $screen-sm-min)  
                position: initial

            .teddy-title
                position: absolute
                right: 180px
                top: -30px
                white-space: nowrap
                
                @media all and (max-width: $screen-sm-min)  
                    position: initial
                    text-align: center

                h2
                    font-weight: 800

            .ony-dyptique-teddy-face
                max-width: 220px
                position: absolute
                right: 380px
                top: 0px

                @media all and (max-width: $screen-sm-min)  
                    position: initial
                    max-width: 100%

            .ony-dyptique-teddy-dos
                max-width: 220px
                position: absolute
                z-index: 99
                right: 175px
                top: 100px

                @media all and (max-width: $screen-sm-min)  
                    position: initial
                    max-width: 100%
        
            .teddy-desc
                position: absolute
                top: 465px
                right: 175px

                @media all and (max-width: $screen-sm-min)  
                    position: initial
                    text-align: center

    .the-teddy-right
        width: 50%
        float: right

        @media all and (max-width: $screen-sm-min)  
            float: none
            width: 100%

        .container-teddy-yellow

            .ony-dyptique-7
                max-width: 410px

                @media all and (max-width: $screen-sm-min)  
                    max-width: 100%

#the-sweat-wrapper
    width: 100%
    overflow: hidden
    height: 640px

    @media all and (max-width: $screen-sm-min)
        height: auto
        overflow: auto
    
    .the-sweat-left
        width: 50%
        float: left
        text-align: right

        @media all and (max-width: $screen-sm-min)
            width: 100%
            float: none
            text-align: left
            top: 1220px
            position: relative

        .container-sweat-yellow
            padding-right: 2em

            @media all and (max-width: $screen-sm-min)
                padding-right: 0

            .ony-dyptique-1
                max-width: 410px

                @media all and (max-width: $screen-sm-min)
                    max-width: 100%

    .the-sweat-right
        width: 50%
        float: right

        @media all and (max-width: $screen-sm-min)
            width: 100%
            float: none
            top: -555px
            position: relative
        
        .container-sweat-dos-face
            position: relative
            left: 0
            top: 95px

            @media all and (max-width: $screen-sm-min)
                position: initial

            .sweat-title
                position: absolute
                left: 0
                top: -30px
                white-space: nowrap

                @media all and (max-width: $screen-sm-min)
                    position: initial
                    text-align: center

                h2
                    font-weight: 800

            .ony-dyptique-sweat-profil
                max-width: 220px
                position: absolute
                left: 0
                top: 100px

                @media all and (max-width: $screen-sm-min)
                    max-width: 100%
                    position: initial

            .ony-dyptique-sweat-dos
                max-width: 220px
                position: absolute
                z-index: 99
                left: 205px
                top: 0px

                @media all and (max-width: $screen-sm-min)
                    max-width: 100%
                    position: initial
        
            .sweat-desc
                position: absolute
                top: 465px
                right: 175px

                @media all and (max-width: $screen-sm-min)
                    position: initial
                    text-align: center

#unisex-wrapper
    width: 100%
    overflow: auto
    margin: 12rem 0 7rem 0
    padding: 5em 0

    @media all and (max-width: $screen-sm-min)
        margin: 2rem 0
        padding: 0

    .unisex-left
        width: 50%
        float: left
        text-align: right

        @media all and (max-width: $screen-sm-min)  
            width: 100%
            float: none
            text-align: left

        .ony-dyptique-5
            max-width: 430px

            @media all and (max-width: $screen-sm-min)  
                max-width: 100%

    .unisex-right
        width: 50%
        position: relative
        float: right

        @media all and (max-width: $screen-sm-min)  
            width: 100%
            position: initial
            float: none

        .yellow-square
            background: $yellow
            width: 436px
            height: 350px
            top: -35px
            position: absolute
            left: -65px
            z-index: -1
            +flexbox
            +alignitems-center
            +justifycontent-center
            font-weight: 800
            padding: 7em

            @media all and (max-width: $screen-sm-min)  
                position: initial
                padding: 2em
                width: 100%

        .ony-dyptique-6
            position: absolute
            width: 290px
            left: 40px
            top: 275px

            @media all and (max-width: $screen-sm-min)  
                position: initial
                width: 100%

#contact-wrapper
    height: 630px
    overflow: hidden
    margin-top: 12rem

    @media all and (max-width: $screen-sm-min)  
        height: auto
        overflow: auto
        margin-top: 3rem

    .contact-container
        .contact-left
            float: left
            width: 50%
            text-align: right
            position: relative

            @media all and (max-width: $screen-sm-min)  
                float: none
                position: initial
                width: 100%

            .contact-wrapper-button
                position: absolute
                color: #000
                font-size: 1.6em
                font-weight: 700
                right: 145px
                bottom: 70px
                
                @media all and (max-width: $screen-sm-min)  
                    position: initial
                    color: $dark
                    text-align: center

            .diagonal-shape
                text-align: right
                position: relative
                right: -1px
                top: 293px

                @media all and (max-width: $screen-sm-min)  
                    display: none

        .contact-right
            width: 50%
            float: right
            position: relative

            @media all and (max-width: $screen-sm-min)
                position: initial
                float: none
                width: 100%

            .ony-dyptique-4
                text-align: left
                max-width: 420px

                @media all and (max-width: $screen-sm-min)
                    max-width: 100%

    .diagonal-text-container
        transform: rotate(-27deg)
        position: absolute
        width: 500px
        text-align: left

        @media all and (max-width: $screen-sm-min)
            display: none

        .keep-me-updated
            position: relative
            white-space: nowrap
            margin-left: -1000px
            -webkit-animation: leftToRight 4s infinite
            font-size: 2em
            font-weight: 700
        
        .kmu-animation-delay-red
            animation-delay: 0
        .kmu-animation-delay-blue
            animation-delay: 1s
        .kmu-animation-delay-yellow
            animation-delay: .5s

    .diagonal-text-red
        right: 0
        top: 370px
        color: $red
    
    .diagonal-text-blue
        right: 0
        top: 265px
        color: $blue

    .diagonal-text-yellow
        right: 0
        top: 175px
        color: $yellow

@-webkit-keyframes leftToRight 
    0%   
        margin-right: -200px
    100% 
        margin-left: 700px

#news-social-wrapper
    width: 100%
    height: 600px
    margin: 15rem 0

    @media all and (max-width: $screen-sm-min)  
        margin: 2rem 0
        height: auto
    
    .social-left
        float: left
        width: 50%
        height: 100%
        +flexbox
        +alignitems-center
        +justifycontent-center

        @media all and (max-width: $screen-sm-min)
            float: none
            width: 100%

        .social-links-container
            +flexbox
            +flexdirection-column
            text-align: center

            .social-pinterest
                padding-bottom: 1em
                border-bottom: 5px solid $dark
                margin-bottom: 3rem

            a
                color: $dark
                font-weight: 700
                font-size: 2.2em

                @media all and (max-width: $screen-sm-min)
                    font-size: 1.5em

            .socialLink
                -webkit-transition: all .3s ease-in
                -moz-transition: all .3s ease-in
                -ms-transition: all .3s ease-in
                -o-transition: all .3s ease-in
                transition: all .3s ease-in

                &:hover
                    text-decoration: none
                    letter-spacing: 0.2em

            .openNewsletterBtn
                transition: .1s!important

                &:hover
                    color: lighten(#000, 60%)
                    text-decoration: none

    .social-right
        float: right
        width: 50%
        text-align: left
        position: relative

        @media all and (max-width: $screen-sm-min)
            width: 100%
            position: initial

        .ony-dyptique-2
            max-width: 420px

            @media all and (max-width: $screen-sm-min)
                max-width: 100%

.hide-on-small-devise
    @media all and (max-width: $screen-sm-min)
        display: none    
