#dyptique-wrapper
    .dyptique-left-container
        width: 50%
        float: left
        text-align: right

        .ony-dyptique-3
            max-width: 60%

    .dyptique-right-container
        float: right
        width: 50%
        position: relative

        .text-container
            position: absolute
            width: 53%
            top: 115px
            left: -35px
            h2
                font-weight: 800

#draw-your-identity-wrapper

#the-teddy-wrapper

#unisex-wrapper

#news-social-wrapper
