#dyptique-wrapper
    margin: 7rem 0
    overflow: auto

    .dyptique-left-container
        width: 50%
        float: left
        text-align: right

        .ony-dyptique-3
            max-width: 400px

    .dyptique-right-container
        float: right
        width: 50%
        position: relative

        .text-container
            position: absolute
            background: #fff
            padding: 1.5em
            width: 58%
            top: 100px
            left: -35px
            h2
                font-weight: 800

#mondrian-wrapper
    overflow: hidden
    height: 600px
    width: 100%
    padding: 5em 0
    margin: 10rem 0 0 0

    .mondrian-sqaures-container
        position: relative
        right: 110px

        .red-square
            background: $red
            position: absolute
            width: 680px
            height: 390px
            right: 325px
            top: 5px

        .mondrian-picto
            position: absolute
            right: 545px
            top: -20px

            img
                max-width: 355px

        .draw-square
            width: 355px
            height: 355px
            right: 125px
            bottom: -500px
            position: absolute
            background: #fff
            border: 6px solid $dark

            p
                font-size: 2.1em
                font-weight: 500
                margin: 0
                position: absolute
                left: 0
                right: 0
                text-align: center
                font-weight: 700

            p:nth-child(1)
                top: 0
                margin-top: 1rem

            p:nth-child(2)
                top: 40%

            p:nth-child(3)
                bottom: 0
                margin-bottom: 1rem

#the-teddy-wrapper
    width: 100%
    overflow: hidden
    margin: 17rem 0

    .the-teddy-left
        width: 50%
        float: left

        .container-teddy-dos-face
            position: relative
            left: 145px
            top: 95px

            .teddy-title
                position: absolute
                right: 180px
                top: -30px
                white-space: nowrap

                h2
                    font-weight: 800

            .ony-dyptique-teddy-face
                max-width: 220px
                position: absolute
                right: 380px
                top: 0px

            .ony-dyptique-teddy-dos
                max-width: 220px
                position: absolute
                z-index: 99
                right: 175px
                top: 100px
        
            .teddy-desc
                position: absolute
                top: 465px
                right: 175px

    .the-teddy-right
        width: 50%
        float: right

        .container-teddy-yellow

            .ony-dyptique-7
                max-width: 410px

#the-sweat-wrapper
    width: 100%
    overflow: hidden
    
    .the-sweat-left
        width: 50%
        float: left
        text-align: right

        .container-sweat-yellow
            padding-right: 2em
            
            .ony-dyptique-1
                max-width: 410px

    .the-sweat-right
        width: 50%
        float: right
        
        .container-sweat-dos-face
            position: relative
            left: 0
            top: 95px

            .sweat-title
                position: absolute
                left: 0
                top: -30px
                white-space: nowrap

                h2
                    font-weight: 800

            .ony-dyptique-sweat-profil
                max-width: 220px
                position: absolute
                left: 0
                top: 100px

            .ony-dyptique-sweat-dos
                max-width: 220px
                position: absolute
                z-index: 99
                left: 205px
                top: 0px
        
            .sweat-desc
                position: absolute
                top: 465px
                right: 175px

#unisex-wrapper
    width: 100%
    overflow: auto
    margin: 18rem 0 7rem 0

    .teddy-left
        width: 50%
        float: left

        .ony-dyptique-5
            max-width: 75%

    .teddy-right
        width: 50%
        float: right

        .yellow-square
            background: $yellow
            width: 300px
            height: 250px

        .ony-dyptique-6
            max-width: 60%

#contact-wrapper

#news-social-wrapper
