// helpers

.about-margin-top
    margin-top: 6rem

    @media all and (max-width: $screen-sm-min)
        margin-top: 2rem

//

#about-wrapper
    width: 100%
    padding: 4em 0

    p
        font-size: 1em

    h3
        font-weight: 700
        font-size: 3em

    .about-the-brand
        padding: 6em 8em 6em 2em

        @media all and (max-width: $screen-sm-min)
            padding: 0 1em
    
    .about-blue-container
        position: relative
        height: 550px

        .ony-founder
            position: absolute
            max-width: 255px
            right: 0

            @media all and (max-width: $screen-sm-min)
                position: initial

        .pigment-bleu
            position: absolute
            max-width: 260px
            right: 130px
            top: 250px
            z-index: -1

            @media all and (max-width: $screen-sm-min)
                position: initial
                margin: 2rem 0
        
        .about-blue-square
            position: absolute
            height: 230px
            width: 230px
            background: $blue
            top: 130px
            right: 245px
            z-index: -2

            @media all and (max-width: $screen-sm-min)
                display: none

    .about-yellow-container
        padding: 3em
        background: $yellow
        position: relative
        left: -60px
        top: 35px
        width: 420px

        @media all and (max-width: $screen-sm-min)
            position: initial
            width: 100%
    
    .pigmentjaune
        max-width: 300px
        position: absolute
        right: 0

        @media all and (max-width: $screen-sm-min)
            position: initial
            max-width: 100%
            
    .black-div
        position: absolute
        height: 195px
        width: 140px
        background: #000000
        right: 225px
        top: -21px
        display: none

        @media all and (max-width: $screen-sm-min)
            display: none

.creativity-relative-container
    position: relative
    width: 100%
    .creativity-container
        width: 100%
        position: relative
        padding: 5em 0
        height: 400px

        @media all and (max-width: $screen-sm-min)
            +flexbox
            +flexdirection-column
            text-align: left
            padding: 0 1em
            margin-bottom: 1rem
            height: auto

        .creativity-col-1
            position: absolute
            right: 800px
            width: 395px
            left: 22%
            top: 25px
            z-index: 999
            padding: 2em
            background: #fff
            z-index: 99999

            @media all and (max-width: $screen-sm-min)
                position: initial
                width: 100%
                padding: 0 1em

        .creativity-col-2
            position: absolute
            top: -30px
            z-index: 99
            width: 300px
            height: 300px
            left: 38%
            background: $red
            padding: 3em
            color: #fff
            margin: 0 auto

            @media all and (max-width: $screen-sm-min)
                display: none

        .creativity-col-3
            position: absolute
            left: 58%
            top: -85px
            z-index: 0

            @media all and (max-width: $screen-sm-min)
                position: initial
                text-align: center
        
            .pigment-rouge
                max-width: 300px
                z-index: -1

                @media all and (max-width: $screen-sm-min)
                    position: initial
                    width: 100%
                    text-align: center
                    margin: 2rem 0