= link_to 'Shöp', 'http://onyfrance.tictail.com/', target: "blank"
= link_to 'Cöllections', collections_path
= link_to t('about'), about_path
= link_to 'Cöntact', new_contact_path(@new_contact),
                     class: 'openNewsletterBtn desktop-show',
                     remote: true

= link_to 'Cöntact', new_contact_path(@new_contact), class: 'mobile-show'

