= link_to 'Shöp', 'http://onyfrance.tictail.com/', target: "blank"
= link_to 'Cöllections', collections_path, class: '#collection-nav-link'
= link_to t('about'), origin_path
= link_to 'Cöntact', new_contact_path(@new_contact),
                     class: 'openNewsletterBtn desktop-show',
                     remote: true

= link_to 'Cöntact', new_contact_path(@new_contact), class: 'mobile-show'

/ .container
/     .col-md-12
/         = link_to 'EN', { locale: 'en' }, { class: 'locale-switch' }    
/         span= ' | '
/         = link_to 'FR', { locale: 'fr' }, { class: 'locale-switch' }