#dyptique-intro
  p style='text-align:center'
    = 'Coming soon'
/   .dyptique-intro-1
/     h1= "Dyptique"
/     h4= "Spring Summer 18"
/   .dyptique-intro-2
/     h2.h2-first-part
/       = "Draw your"
/       | &nbsp;
/     h2.h2-1= "i"
/     h2.h2-2= "d"
/     h2.h2-3= "e"
/     h2.h2-4= "n"
/     h2.h2-5= "t"
/     h2.h2-6= "i"
/     h2.h2-7= "t"
/     h2.h2-8= "y"


/ #dyptique-wrapper
/   .first-row
/     .first-row-col-1
/       = image_tag 'dyptique/ONY_CAMPAGNESS18_4.jpg', class: 'dyptique-img-4'
/     .first-row-col-2
/       = image_tag 'dyptique/ONY_CAMPAGNESS18_3.jpg', class: 'dyptique-img-3'
/     .first-row-col-3

/   .second-row
/     .second-row-col-1
/     .second-row-col-2
/       = image_tag 'dyptique/ONY_CAMPAGNESS18_1.jpg', class: 'dyptique-img-1'

/   .third-row
/     .third-row-col-1
/     .third-row-col-2

/   .fourth-row
/     .fourth-row-col-1
/     .fourth-row-col-2
/       = image_tag 'dyptique/ONY_CAMPAGNESS18_5.jpg', class: 'dyptique-img-5'
/     .fourth-row-col-3
/       = image_tag 'dyptique/ONY_CAMPAGNESS18_2.jpg', class: 'dyptique-img-2'

/   .fifth-row
/     .fifth-row-col-1
/       = image_tag 'dyptique/ONY_CAMPAGNESS18_6.jpg', class: 'dyptique-img-6'
/     .fifth-row-col-2
/       = image_tag 'dyptique/ONY_CAMPAGNESS18_7.jpg', class: 'dyptique-img-7'
/     .fifth-row-col-3
/       / .color-box-1
/       / .color-box-2
