#main-nav
    +flexbox
    +alignitems-center
    z-index: 99
    width: 100%
    margin: 0 auto
    padding: 1em 2em
    position: relative
    +justifycontent-spacebetween
    background: rgba(255,255,255, .8)

    @media all and (max-width: $screen-sm-min)
        display: none
        +flexdirection-column

    a
        color: $dark
        font-size: .75em
        text-decoration: none

    .left-nav
        text-transform: uppercase
        font-weight: 700
        width: 40%
        +flexbox
        z-index: 9999999999999

        a
            margin-right: 1.9rem

            &:hover
                color: lighten($dark, 30%)

        @media all and (max-width: $screen-sm-min)
            +flex-grow(0)
            text-align: left

    .center-nav
        position: absolute
        width: 100% 
        text-align: center
        top: 5px
        z-index: 9999999

        .logo-nav
            max-width: 60px

    .social-links
        +flexbox
        +alignitems-center
        z-index: 9999999

        img
            width: 21px

            &:hover
                color: lighten($dark, 20%)

        a
            margin-left: 1rem

#mobile-nav-header
    +flexbox
    +justifycontent-spacebetween
    +alignitems-center
    width: 100%
    height: 60px
    padding: 0 2em

    @media all and (min-width: $screen-sm-min)
        display: none

    @media all and (max-width: $screen-sm-min)
        width: 100%
        position: fixed
        right: 0
        left: 0
        top: 0
        padding: 0 1.4em
        z-index: 99999999999

    .mobile-logo-nav-header
        max-width: 50px

    #mobile-nav-trigger
        max-width: 25px
    
    #mobile-nav-trigger-close
        max-width: 18px
        display: none

#navMobile
    background-color: white
    width: 100%
    display: none
    text-align: left
    display: none
    +flexdirection-column
    +justifycontent-center
    align-content: center
    z-index: 999999999
    background: #fff
    padding: 4em 2em 1em 1.4em
    border-bottom: 1px solid $borders
    position: fixed
    left: 0
    top: 0

    @media all and (min-width: $screen-sm-min)
        display: none

    .logo-nav
        max-width: 60px
        margin-bottom: 1rem

    .social-fb, a
        color: $dark
        text-decoration: none
        margin-bottom: 1rem
        margin-left: 0

    .shopping-nav, .paper-plane-nav
        max-width: 20px

    .items-links
        +flexbox
        +flexdirection-column
        margin-left: 0

    .social-links
        +flexbox
        +flexdirection-column   

        @media all and (max-width: $screen-sm-min)
            display: block
            margin: 2rem 0 1rem 

            a
                @media all and (max-width: $screen-sm-min)
                    margin-right: 2rem
        
        img
            max-width: 35px

            @media all and (max-width: $screen-sm-min)
                max-width: 25px
    
        .locale-switch-wrapper-nav
            @media all and (max-width: $screen-sm-min)
                margin: 1.5rem 0

            .locale-switch
                @media all and (max-width: $screen-sm-min)
                    margin: 0
            
            span
                @media all and (max-width: $screen-sm-min)
                    margin: 0 .6rem

.locale-switch-wrapper
    position: absolute
    right: 0
    padding-right: .6em
    top: 20px
    color: lighten($dark, 40%)
    white-space: nowrap
    z-index: 9999

    @media all and (max-width: $screen-sm-min)
        display: none

    .locale-switch
        font-size: .7em
        color: lighten($dark, 40%)
        transition: .1s
        white-space: nowrap

        &:hover
            text-decoration: none
            color: #000

.locale-switch-wrapper-nav
    margin-left: 3rem
    color: lighten($dark, 40%)

    .locale-switch
        font-size: .7em!important
        color: lighten($dark, 40%)!important
        transition: .1s
        white-space: nowrap
        margin-left: 0!important

        &:hover
            text-decoration: none
            color: #000

.fixed-header, .logo-on-scroll-nav-container
    position: fixed
    right: 0 
    left: 0
    z-index: 999
    background: transparent
    margin: 0 auto
    width: 100%
    text-align: center

.fixed-header
    top: 0px

.logo-on-scroll-nav-container
    top: -45px
    z-index: 9999
    width: 70px

    @media all and (max-width: $screen-sm-min)
            display: none
    
    .logo-on-scroll-nav
        max-width: 60px

.nav-mobile-link-wrapper
    +flexbox
    +flexdirection-column
