#main-nav
    +flexbox
    +alignitems-center
    padding: 3em 4em
    background: #fff
    z-index: 99

    @media all and (max-width: $screen-xs-max)
        display: none
        +flexdirection-column

    a
        color: $dark
        font-size: .8em
        text-decoration: none

    .left-nav
        +flex-grow(1)
        text-align: left

        @media all and (max-width: $screen-xs-max)
            +flex-grow(0)

        .logo-nav
            max-width: 65px

    .center-nav
        +flex-grow(2)
        text-align: center

        @media all and (max-width: $screen-xs-max)
            +flex-grow(0)
            text-align: left

        a
            margin: 0 2%

    .right-nav
        +flex-grow(1)
        +alignitems-end
        +flexbox
        text-align: right
        position: relative

        .items-links
            +flex-grow(1)

        .social-links
            right: -145px
            top: 45px
            z-index: 98
            +flexbox
            position: absolute

            a
                margin-left: 1.5rem!important

        .social-links, .items-links

            a
                margin: 0 2%
                font-weight: 400
                transition: .2s

                &:hover
                    color: lighten($dark, 60%)

                &:last-child
                    margin-right: 0

        @media all and (max-width: $screen-xs-max)
            +flex-grow(0)
            text-align: left

        .shopping-nav, .paper-plane-nav
            max-width: 17px

        .shopping-nav
            margin-left: 8%

        .locale-switch
            margin: 0 0 0 3%

#mobile-nav-header
    +flexbox
    +justifycontent-end
    width: 100%
    height: 60px
    padding: 0 2em

    @media all and (min-width: $screen-xs-max)
        display: none

    @media all and (max-width: $screen-sm-min)
        +flexbox

    #mobile-nav-trigger
        max-width: 35px

#navMobile
    background-color: white
    width: 100%
    display: none
    text-align: left
    display: none
    +flexdirection-column
    +justifycontent-center
    align-content: center
    z-index: 0
    padding: 0 2em 1em 2em
    border-bottom: 1px solid $borders
    background: #fff

    @media all and (min-width: $screen-xs-max)
        display: none

    .logo-nav
        max-width: 80px
        margin-bottom: 1rem


    .social-fb, a
        color: $dark
        text-decoration: none
        margin-bottom: 1rem
        margin-left: 0

    .shopping-nav, .paper-plane-nav
        max-width: 20px

    .items-links
        +flexbox
        +flexdirection-column
        margin-left: 0

    .social-links
        +flex-grow(0)
        +flexbox

        a
            margin-right: 1.5em
