body
    -webkit-transition: all 1s ease-in
    -moz-transition: all 1s ease-in
    -o-transition: all 1s ease-in
    -ms-transition: all 1s ease-in
    transition: all 1s ease-in

#main-wrapper
    width: 95%
    margin: 0 auto
    padding: 0 .6em
    position: relative

.dyptique-body
    border: 6px solid $dark

.dyptique-navbar
    border-bottom: 6px solid $dark

.regular-body
    border: 6px solid #fff

.regular-navbar
    border-bottom: 6px solid #fff

.mobile-show
    @media all and (max-width: $screen-sm-min)
        display: block
    @media all and (min-width: $screen-sm-min)
        display: none

.desktop-show
    @media all and (min-width: $screen-sm-min)
        display: block
    @media all and (max-width: $screen-sm-min)
        display: none!important
html
    overflow-x: hidden

.logo-nav
    width: 100%
    text-align: center
    padding: 1em 0

    img
        max-width: 60px

.full-height 
    height: 100vh
    
    @media all and (max-width: $screen-sm-min)
        height: auto

.sticky-bottom
    position: absolute
    bottom: 0
    right: 0

    @media all and (max-width: $screen-sm-min)
        position: inherit
