.admin-sign-out-btn
    margin-left: 2em
    color: $red!important
    font-weight: 700

.animated-underline-btn
    display: inline-block
    text-decoration: none

    // @media all and (max-width: $screen-sm-min)
    //     display: none

    &:hover
        text-decoration: none
        color: #000000

    &:after 
        content: ''
        display: block
        width: 0
        height: 2px
        background: #000
        transition: width .3s

.animated-underline-btn
    color: #000
    text-decoration: none
    width: 100%

a.discover-btn, .discover-btn
    color: #000
    font-size: .9em
    +flexbox
    +alignitems-center
    transition: 1s
    
    @media all and (max-width: $screen-sm-min)
        display: block

    &:hover, &:focus
        text-decoration: none!important

    &:after
        font-family: FontAwesome
        content: '\f178'
        font-size: 1.2em
        font-weight: 300
        color: #000
        margin-left: 4%

        @media all and (max-width: $screen-sm-min)
            display: none

.discover-btn:hover::after
    text-decoration: none!important
    transition: .6s
    margin-left: 8%

.animated-underline-btn
    display: flex
    &:before
        content: '['
        color: $red
        margin-right: 8px
    &:after
        content: ']'
        color: $blue
        margin-left: 8px