#home-banner
    +flexbox
    +alignitems-center
    +flexdirection-column
    height: 100vh

    .logo-nav
        z-index: 2
        @media all and (max-width: $screen-sm-min)
            height: 60px
        img
            @media all and (max-width: $screen-sm-min)
                display: none

    .home-video-banner
        height: 100vh
        width: 100%
        background: transparent
        position: absolute
        +flexbox
        +alignitems-center
        +justifycontent-center
        // position: relative

        .video-container
            width: 100%
            height: 100%
            overflow: hidden
            +flexbox
            +alignitems-center
            +justifycontent-center
            position: relative

            video
                top: 0
                bottom: 0
                right: 0
                left: 0
                max-width: 100%
                max-height: 100%
                position: fixed

            #mute, #unmute
                position: absolute
                left: 20px
                top: 20px
                z-index: 99999999999
            #mute
                &:before
                    font-family: FontAwesome
                    content: '\f026'
                    font-size: 1.5em
                    color: #fff

            #unmute
                display: none
                &:before
                    font-family: FontAwesome
                    content: '\f028'
                    font-size: 1.5em
                    color: #fff

        .arrow-home-banner
            position: absolute
            left: 50%
            bottom: 3%
            z-index: 999

            @media all and (max-width: $screen-sm-min)
                display: none

            &:before
                font-family: FontAwesome
                content: '\f107'
                font-size: 1.5em
                color: #fff
