#home-banner
    +flexbox
    +alignitems-center
    +flexdirection-column
    height: 100vh

    .home-video-banner
        height: 100vh
        margin-bottom: 3.5rem
        width: 100%
        background: #eaeaea
        +flexbox
        +alignitems-center
        +justifycontent-center
        position: relative

        .arrow-home-banner
            position: absolute
            left: 50%
            bottom: 3%

            &:before
                font-family: FontAwesome
                content: '\f107'
                font-size: 1.5em
                color: #fff
